<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <httpCookies requireSSL="true" />
    <customErrors mode="RemoteOnly" defaultRedirect="ErrorPage000726.htm"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
    <handlers>
        <add name="DenyOTH" verb="OPTIONS,TRACE,HEAD" path="*" type="System.Web.HttpMethodNotAllowedHandler" />
    </handlers>
    -->
	  <staticContent>
	   <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />    
	   <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
	   <mimeMap fileExtension="." mimeType="text/plain" />
	   <mimeMap fileExtension="*" mimeType="application/octet-stream" />
	  </staticContent>
    <!-- Gets rid of the other unwanted headers -->
    <!--
    <httpProtocol>
        <customHeaders>	
              <clear /> 
              <remove name="X-Powered-By" />
              <remove name="X-Powered-By: ARR/3.0" />
              <add name="X-Frame-Options" value="SAMEORIGIN" />
              <add name="X-Xss-Protection" value="1; mode=block" />
              <add name="X-Content-Type-Options" value="nosniff" />
              <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE"/>
              <add name="Access-Control-Max-Age" value="3628800"/>
            <add name="Accept-Bytes" value="none" />
      </customHeaders>
	</httpProtocol>
  -->
    <rewrite>
      <rules>
    <rule name="React Routes" stopProcessing="true">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
	<add input="{REQUEST_URI}" pattern="^/(th)" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(bms)" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(oauth)" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(admin-th)" negate="true" />
      </conditions>
      <action type="Rewrite" url="/" />
    </rule>
	<rule name="Rewrite API" stopProcessing="true">
	  <match url="^api\/(.*)$" />
	  <action type="Rewrite" url="http://192.168.105.175/api/{R:1}" />
				<conditions>
				</conditions>
				<serverVariables>
					<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="HTTP_ACCEPT_ENCODING" />
				</serverVariables>
	</rule>
  <rule name="Admin TH" stopProcessing="true">
	  <match url="^admin-th\/(.*)$" />
    <action type="Rewrite" url="/admin-th/{R:1}" />
				<conditions>
				</conditions>
				<serverVariables>
					<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="HTTP_ACCEPT_ENCODING" />
				</serverVariables>
	</rule>
    <rule name="Capture origin header">
      <match url="^api\/(.*)$" />
      <conditions>
        <add input="{HTTP_ORIGIN}" pattern=".+" />
      </conditions>
      <serverVariables>
        <set name="CAPTURED_ORIGIN" value="{C:0}" />
      </serverVariables>
      <action type="None" />
    </rule>
	
	<rule name="Rewrite TH API" stopProcessing="true">
          <match url="^th\/(.*)$" />
          <action type="Rewrite" url="http://192.168.105.80/{R:1}" />
                    <conditions>
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="HTTP_ACCEPT_ENCODING" />
                    </serverVariables>
    </rule>
    <rule name="Capture th origin header">
      <match url="^th\/(.*)$" />
      <conditions>
        <add input="{HTTP_ORIGIN}" pattern=".+" />
      </conditions>
      <serverVariables>
        <set name="CAPTURED_ORIGIN" value="{C:0}" />
      </serverVariables>
      <action type="None" />
    </rule>
	
      </rules>
    
      <outboundRules>
        <preConditions>
          <preCondition name="IsRedirect">
            <add input="{RESPONSE_STATUS}" pattern="^30[1237]$" />
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; secure" negate="true" />
          </preCondition>
        </preConditions>
        <rule name="API Redirect" preCondition="IsRedirect" enabled="true">
          <match serverVariable="RESPONSE_Location" pattern="^(https?)://192.168.105.175/(.*)" />
          <conditions>
                        <add input="{URL}" pattern="^api\/.*$" />
                        <add input="{HTTP_HOST}" matchType="Pattern" pattern="^api\..*$" ignoreCase="true" negate="false" />
                        <add input="{URL}" pattern="^bms\/.*$" />
                        <add input="{HTTP_POST}" pattern="^bms\/..*$" negate="true" />
          </conditions>
          <action type="Rewrite" value="{R:1}://{HTTP_HOST}/api/{R:2}; secure" />
        </rule>
    <rule name="API OAUTH Redirect" preCondition="IsRedirect" enabled="true">
          <match serverVariable="RESPONSE_Location" pattern="^(https?)://192.168.105.175/(.*)" />
          <conditions>
            <add input="{URL}" matchType="Pattern" pattern="^bms\/.*$" ignoreCase="true" negate="false" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^bms\..*$" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Rewrite" value="{R:1}://{HTTP_HOST}/bms/{R:2}; secure" />
        </rule>
        <rule name="API Cookies" stopProcessing="true">
          <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
          <conditions>
            <add input="{RESPONSE_SET_COOKIE}" pattern="^(ARRAffinity=.*;Domain=)192.168.105.175.*$" />
          </conditions>
          <action type="Rewrite" value="{C:1}192.168.105.175; secure" />
        </rule>

        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
			<match serverVariable="RESPONSE_Strict_Transport_Security"
				pattern=".*" />
			<conditions>
				<add input="{HTTPS}" pattern="on" ignoreCase="true" />
			</conditions>
			<action type="Rewrite" value="max-age=31536000" />
		</rule>
		<rule name="Remove ETag">
			<match serverVariable="RESPONSE_ETag" pattern=".+" />
			<action type="Rewrite" value="" />
		</rule>
	<rule name="Remove Server header">
      		<match serverVariable="RESPONSE_Server" pattern=".+" />
      		<action type="Rewrite" value="" />
    	</rule>
      </outboundRules>
    
    </rewrite>
    <caching enabled="false" enableKernelCache="false" />
    <!--
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="HEAD" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    -->
  </system.webServer>
    <location path="OTP">
    </location>
</configuration>
